@font-face {
    font-family: 'icomoon';
    src:    url('./fonts/icomoon.eot?60xs6c');
    src:    url('./fonts/icomoon.eot?60xs6c#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.ttf?60xs6c') format('truetype'),
    url('./fonts/icomoon.woff?60xs6c') format('woff'),
    url('./fonts/icomoon.svg?60xs6c#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-toufang:before {
    content: "\e900";
}
.icon-bozhong:before {
    content: "\e925";
}
.icon-bolao:before {
    content: "\e926";
}
.icon-chucao:before {
    content: "\e927";
}
.icon-dayao:before {
    content: "\e928";
}
.icon-diaoshui:before {
    content: "\e929";
}
.icon-feishui:before {
    content: "\e92a";
}
.icon-gengdi:before {
    content: "\e92b";
}
.icon-guangai:before {
    content: "\e92c";
}
.icon-huanshui:before {
    content: "\e92d";
}
.icon-shifei:before {
    content: "\e92e";
}
.icon-shouge:before {
    content: "\e92f";
}
.icon-weiyang:before {
    content: "\e930";
}
.icon-xiaodu:before {
    content: "\e931";
}
.icon-xunshi:before {
    content: "\e932";
}
.icon-yongyao:before {
    content: "\e933";
}
.icon-fengxiang:before {
    content: "\e901";
}
.icon-co2:before {
    content: "\e902";
}
.icon-zhengfa:before {
    content: "\e903";
}
.icon-ludian:before {
    content: "\e904";
}
.icon-rizhao:before {
    content: "\e905";
}
.icon-guanghe:before {
    content: "\e906";
}
.icon-fushe:before {
    content: "\e907";
}
.icon-uv:before {
    content: "\e908";
}
.icon-zhijiefushe:before {
    content: "\e909";
}
.icon-jiangyuliang:before {
    content: "\e90a";
}
.icon-qiya:before {
    content: "\e90b";
}
.icon-fengsu:before {
    content: "\e90c";
}
.icon-guangzhoudu:before {
    content: "\e90d";
}
.icon-shidu:before {
    content: "\e90e";
}
.icon-shuifen:before {
    content: "\e90f";
}
.icon-diandaolv:before {
    content: "\e910";
}
.icon-turangshuifen:before {
    content: "\e911";
}
.icon-shuishen:before {
    content: "\e912";
}
.icon-rongjieyang:before {
    content: "\e913";
}
.icon-andan:before {
    content: "\e914";
}
.icon-wendu:before {
    content: "\e915";
}
.icon-ph:before {
    content: "\e916";
}
.icon-address:before {
    content: "\e917";
}
.icon-phone:before {
    content: "\e918";
}
.icon-lianxiren:before {
    content: "\e919";
}
.icon-denglu:before {
    content: "\e91a";
}
.icon-xia:before {
    content: "\e91b";
}
.icon-yu:before {
    content: "\e91c";
}
.icon-qixiangzhan:before {
    content: "\e91d";
}
.icon-chuanganqi:before {
    content: "\e91e";
}
.icon-play:before {
    content: "\e91f";
}
.icon-huifang:before {
    content: "\e920";
}
.icon-dengpao:before {
    content: "\e921";
}
.icon-caoyong:before {
    content: "\e922";
}
.icon-tiankuai:before {
    content: "\e923";
}
.icon-shuidao:before {
    content: "\e924";
}
.icon-bie:before {
    content: "\e934";
}