<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
		<key>info</key>
		<string>这是我们第一次相遇的日子，感谢义哥，感谢阡陌！</string>
		<key>title</key>
		<string>第一次相遇</string>
		<key>time</key>
		<string>2016-10-23</string>
	</dict>
	<dict>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
		<key>info</key>
		<string>第一次跟小v约会，讲了SVN、讲了Git，我们去了后海，送小v回家...</string>
		<key>title</key>
		<string>第一次约会</string>
		<key>time</key>
		<string>2016-10-25</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-10-26</string>
		<key>title</key>
		<string>爱情纪念日</string>
		<key>info</key>
		<string>这是一个值得纪念的日子，这一天我们在一起啦、幸福ing~</string>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-10-26</string>
		<key>info</key>
		<string>恋爱的第一天我们就接吻了，很快、很甜蜜...</string>
		<key>title</key>
		<string>第一次接吻</string>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-10-27</string>
		<key>info</key>
		<string>刚刚恋爱，第二天就异地，哎、伤心💔...</string>
		<key>title</key>
		<string>第一次分开</string>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
	</dict>
	<dict>
		<key>time</key>
		<string>2016-10-31</string>
		<key>info</key>
		<string>小v：我等你来娶我好么，非你不嫁！</string>
		<key>title</key>
		<string>等我来娶你</string>
		<key>images</key>
		<string>http://b333.photo.store.qq.com/psb?/V10xIXyj0cab6j/rmzQs1WM79i820tEofDoldi93T1pcOIpQHwh7LitINE!/m/dFKIhsZvAQAAnull&amp;bo=RAKzAQAAAAABB9Q!&amp;rf=photolist&amp;t=5</string>
	</dict>
</array>
</plist>
